/* @tailwind base; */
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
  border-radius: 3px;
}

/* Style the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Hover effect on the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
